.all {
    color: #000000;
    font-family: Verdana, Arial, sans-serif;
    font-size: 16px;
    font-weight: 500;
}

#heading {
    color: #ffffff;
    background-color: #000000;
    font-size: 40px;
    font-weight: 800;
    text-align: center;
}

img {
    width: auto;
    height: 600px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

p,
.subheading.large {
    text-align: center;
}

.subheading.large {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    font-size: 28px;
}