.all {
    font-family: Verdana, Arial, sans-serif;
    font-size: 40px;
    font-weight: 500;
    color: #000000;
}

#heading {
    text-align: center;
    font-size: 60px;
    font-weight: 800;
    color: #ffffff;
    background-color: #000000;
}   

#lasagna {
    background-color: rgb(0, 140, 69);
}

#spaghetti {
    background-color: rgb(205, 33, 42);
}

#body-text {
    text-align: center;
}