.all {
    font-family: Verdana, Arial, sans-serif;
    font-size: 32px;
    font-weight: 500;
    color: #000000;
    }

 #heading {
    text-align: center;
    font-size: 60px;
    font-weight: 800;
    color: #ffffff;
    background-color: #000000;
 }   

